@charset "UTF-8";

/* Cores */

:root {
    --cor1: #fff;
    --cor2:  #f1f1f1;
    --cor3: #6592c9;
    --cor4: #3b7863;
    --cor5: #49997d;
    --cor6: #00836a;
    --cor7: #0a9077b3;
    --cor8: #333;
    --cor9:  #3d3d3d;
    --cor10: #000;
    --cor11: #f00;    
}

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.limitar-secao {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Estilização do Cabeçalho */

header {
    width: 100%;
    position: fixed;
    background-color: var(--cor1);
    margin-bottom: 1px solid var(--cor-borda);
    flex-direction: row;
    font-size: 18px;
}

.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Separar a logo dos links*/
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.container-logo {
    flex: 1 0 60%;
}

.container-logo a {
    font-size: 24px;
}

.container-topo a {
    text-decoration: none;
    color: var(--9);
}

.container-topo a span {
    color: var(--cor3);
}

.container-links {
    flex: 1 0 150px;
    display: flex;
    justify-content: space-between; /*Separar os links de acesso*/
}

/* Estilização do Conteúdo Principal */
.banner {
    background-image: url(img/img-fundo.jpg);
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    font-size: 28px;
    color: var(--cor1);
    background-color: var(--cor7);
    border: 1px solid var(--cor1);
    border-radius: 4px;
    text-align: center;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    grid-area: 60px;
    padding: 100px 20px;
    text-align: center;
}

.container-conteudo h2 {
    font-size: 32px;
    font-weight: 500;
}

.container-descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-descricao h2 {
    font-size: 32px;
    font-weight: 500;
}

.container-quartos {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.quarto {
    flex: 1 0 250px;
    text-decoration: none;
    color: var(--cor9);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--cor6);
}

.quarto img {
    width: 100%;
    margin-bottom: 10px;
}

.quarto a {
    text-decoration: none;
    color: var(--cor8);
}

#rota {
    padding: 0px;
}

/* Estilização dos Cards */

.container-cards {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card {
    flex: 1 0 350px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    background-color: var(--cor2);
}

.card-descricao {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.container-cards-img {
    width: 30%;
    height: 100%;
}

.container-cards-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilização do Footer */
.rodape {
    background-color: var(--cor5);
    color: var(--cor1);
}

.container-info {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card-info-rodape h4 {
    font-size: 22px;
}

.card-info-rodape a {
    display: flex;
    align-items: center;
    color: var(--cor1);
    text-decoration: none;
}

.card-info-rodape p {
    margin-left: 10px;
}

.card-info-rodape img {
    width: 40px;
    height: 40px;
}

.container-coprigth {
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid var(--cor4);
}