@charset "UTF-8";

* {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #d5960054;
    color: #d59600;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
}

menu {
    padding-top: 8px;
}

.menu a {
    color: #d59600;
    padding: 8px;
}

.imagem-fundo {
    width: 100%;
}

.imagens-pequenas {
    width: 350px;
    padding-top: 5px;
}

h2 {
    padding-top: 20px;
    margin-bottom: 5px;
}

h3 {
    padding-top: 30px;
    font-weight: normal;
}

p {
    max-width: 600px;
    text-align: justify;
    padding: 60px;
}

iframe {
    max-width: 600px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: black;
    color: #d59600;
    font-weight: bolder;
}

footer p {
    text-align: center;
}