@charset "UTF-8";

:root {
    --corfundo: #de8e37;
    --cortexto: #fff;
    --corlink: #542f0c;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    width: 700px;
    margin: 20px auto;
}

.menu img {
    width: 200px;
}

a {
    margin: 0 10px;
    color: var(--corlink);
}

p {
    font-size: 18px;
    text-align: justify;
}

.secao {
    width: 700px;
    margin: 20px auto;
}

h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid var(--corfundo);
}

h2 {
    font-weight: normal;
    color: var(--corfundo);
    margin-top: 10px;
}

.secao img {
    width: 700px;
}

.secao__produtos {
    width: 700px;
    margin: 20px auto;
    background-color: var(--corfundo);
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--cortexto);
}

.secao__produtos img {
    width: 400px;
}

.secao__produtos h3 {
    font-size: 22px;
}

.secao__produtos h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secao__produtos p {
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
}

.secao__contato p {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

span {
    font-weight: bold;
}