@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

html, body {
    height: 100%;
}

:root {
    --cor-destaque: #f97100;
    --cor-branco: #fff;
    --cor-background: #ffb500;
    --cor-box-shadow: #ed8317;
}

.cabecalho, footer {
    text-align: center;
    color: var(--cor-branco);
    background-color: var(--cor-destaque);
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.area {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

main {
    width: 100%;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

p, h2, h3 {
    line-height: 25px;
    text-align: justify;
}

.info {
    margin: 30px auto 30px auto;
}

.info p {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.card {
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
}