@charset "UTF-8";

:root {
    --cordestaque: #3c184e;
    --letra-branca: #fff;
    --cor-letra: #3c184e;
    --cor-sombra: #0000005c;
    --cor-transparente: #ffffffc4;
    --cor-sombra-banner: #1f26875e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner {
    background-image: url(img/banner-topo.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--cordestaque);
    padding-bottom: 120px;
    padding-top: 120px;
    padding: 1200 80px;
}

.logo {
    max-width: 250px;
    padding: 0;
}

.logo img {
    width: 30px;
    margin-right: 5px;
}

.paragrafo__titulo {
    margin-bottom: 5px;
    font-size: 30px;
}

.container {
    max-width: 800px;
    box-shadow: 0 8px 32px var(--cor-sombra-banner);
    border-radius: 5px;
    width: 800px;
    background-color: var(--cor-transparente);
    padding: 40px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.container img {
    width: 20px;
}

a {
    width: 200px;
    text-decoration: none;
    background: var(--cordestaque);
    color: var(--letra-fundo-destaque);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--letra-branca);
}

h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 40px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.servicos {
    margin: 0 auto 50px;
    max-width: 800px;
}

h2 {
    color: var(--cor-letra);
    font-weight: 36px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

ul {
    width: 800px;
    text-align: justify;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--cor-letra);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
    list-style-type: square;
}

li {
    font-size: 20px;
    margin: 0 0 20px;
}

span {
    font-weight: 700;
    font-style: italic;
}

.servicos img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.36)
}

.redes-sociais {
    max-width: 800px;
    margin: 0 auto 50px;
    background-color: var(--cordestaque);
    color: var(--letra-branca);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}

.redes-sociais a {
    margin: 0 20px;
}

.imagem-redes-sociais {
    width: 30px;
    height: 30px;
}

.localizacao p {
    color: var(--cor-letra);
    font-size: 22px;
    margin: 0 0 45px;
}

.localizacao iframe {
    width: 800px;
    height: 450px;
}

.rodape {
    background-color: var(--cordestaque);
    color: var(--letra-branca);
}