@charset "UTF-8";

:root {
    --corfundomenu: #afddfb;
    --corletramenu: #fff;
    --cor-texto-menu: #1d1d1d;
    --cor-subtitulo-destaque: #1c81c0;
    --cor-fundo-destaque: #1d80c1;
    --cor-texto-amarelo: #fff81b;


    --fonte: tahoma;
}
body {
    margin: 0;
    font-family: var(--fonte);
}

/* === Estilos globais === */
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}

/* ===  1ª seção === */
.topo {
    background-color: var(--corfundomenu);
}

.topo img {
    width: 150px;
}

.paragrafo-topo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.link-topo {
    color: var(--cor-texto-menu);
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid var(--cor-texto-menu);
}

/* ===  2ª seção === */

.banner {
    padding-top: 0;
    margin-top: 50px;
}

/* ===  estilos para destaques === */

span {
    font-weight: bold;
}

/* ===  3ª seção === */

h1 {
    color: var(--cor-texto-menu);
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: var(--cor-subtitulo-destaque);
    margin-top: 0;
}

.imagem {
    width: 450px;
}

.texto-azul {
    color: var(--cor-fundo-destaque);
}

/* ===  4ª seção === */

.servicos, .contato {
    background-color: var(--cor-fundo-destaque);
}

h3 {
    color: var(--corletramenu);
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color: var(--corletramenu);
    line-height: 42px;
    width: 700px;
    font-size: 22px;
    text-align: center;
}

.texto-amarelo {
    color: var(--cor-texto-amarelo);
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: var(--corletramenu);
}

/* ===  6ª seção === */

.paragrafo-contato {
    color: var(--corletramenu);
    background-color: var(--cor-texto-menu);
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato {
    width: 210px;
    list-style: none;
    margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-contato {
    background-color: var(--corletramenu);
    color: var(--cor-fundo-destaque);
    padding: 2px 5px;
    border-radius: 5px;
}