@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cores */
:root {
    --cor-background: #cf010b;
    --cor-margem: #a30109;
    --cor-letra: #fff;
}

/* Estilos para o header */
header {
    background-color: var(--cor-background);
    padding: 20px;
}

/* Estilos para a navegação */
nav a {
    color: var(--cor-letra);
    padding: 0 10px;
}

/* Estilos para a imagem do banner */
.banner img {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: var(--cor-margem);
}

/* Estilos para o conteúdo principal */
main {
    width: 100%;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

/* Estilos para imagens */
img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--cor-margem);
}

/* Estilos para parágrafos e títulos */
p, h2, h3 {
    line-height: 25px;
    text-align: justify;
}

/* Estilos para o formulário de contato */
#contato ul {
    margin: 0 12px;
    margin-bottom: 20px;
}

#contato ul li {
    display: inline;
    margin: 0 5px;
    margin-bottom: 20px;
}

#contato ul li a {
    background-color: var(--cor-background);
    color: var(--cor-letra);
    padding: 10px;
    font-size: 12px;
}

/* Estilos para o footer */
footer {
    padding: 15px;
    color: var(--cor-letra);
    background-color: var(--cor-background);
}