@charset "UTF-8";

:root {
    --cor1: #757575;
    --cor2: #ff2200;
    --fonte: 'tahoma';
}

body {
    color: var(--cor1);
    font-size: 18px;
    font-family: var(--fonte);
}

div {
    margin: 10px auto;
    width: 500px;
    text-align: center;
    line-height: 28px;
}

h1 {
    font-size: 21px;
}

h2 {
    color: var(--cor1);
    font-weight: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    margin: 0 10px;
}

.logo {
    width: 150px;
}

.texto-negrito {
    font-weight: bold;
}

.texto-destaque {
    color: var(--cor2);
    font-weight: bold;
}

footer {
    margin: 10px auto;
    width: 500px;
    text-align: center;
    line-height: 28px;
}

footer img {
    width: 40px;
}

a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}