@charset "UTF-8";

/* Configurações gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor1: #fff;
    --cor2: #f1f3f7;
    --cor3: #f6f6f6;
    --cor4: #a8a4a4;
    --cor5: #233032;
    --cor6: #2f86d6;
    --cor7: rgba(47, 134, 214, 1);
    --cor8: #23303e;
}

.limita-secao {
    width: 100%;    
    max-width: 1024px;
    margin: 0 auto;
}
/* Fim configurações gerais*/

/* Configurações topo*/
.container-topo {
    position: relative;
    padding: 35px 0px;
}

.topo-logo {
    position: relative;
}

.topo-logo img {
    width: 80px;
}

.topo-logo div {
    position: absolute;
    top: 0;
    left: 95px;
}

.topo-logo p {
    color: var(--cor6);
    font-weight: 600;
}

.topo-links {
    position: absolute;
    top: 65px;
    right: 0;
}

.topo-links a {
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor5);
}

/* Configurações do Banner */

.secao-banner {
    background-color: var(--cor6);
}

.container-banner div {
    color: var(--cor1);
    width: 470px;
}

.container-banner div p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.container-banner div h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
}

.container-banner img {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
}

/* Seção Primeiro Anúncio */
.secao-primeiro-anuncio {
    background-color: var(--cor8);
}

.container-primeiro-anuncio {
    position: relative;
    padding: 40px 0;
}

.container-primeiro-anuncio div {
    width: 600px;
}

.container-primeiro-anuncio div h2 {
    margin-bottom: 5px;
}

.container-primeiro-anuncio a {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor6);
    color: var(--cor1);
    cursor: pointer;
}

.container-primeiro-anuncio a img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 20px;
    margin-left: 20px;
}

.container-primeiro-anuncio a span {
    margin-left: 30px;
}

/* Seção Informações */
.secao-informacoes {
    padding: 100px 0px;
    text-align: center;
}

.secao-informacoes h2 {
    width: 900px;
    font-size: 32px;
    margin: 0px auto 60px;
}

.secao-informacoes h2 span {
    color: var(--cor6);
}

.container-informacoes {
    position: relative;
    height: 240px;
}

.container-informacoes div {
    width: 33%;
    position: absolute;
    top: 0;
}

.card2 {
    left: 343px;
}

.card3 {
    left: 343px;
}

.container-informacoes div img {
    width: 100px;
}

.container-informacoes div h3 {
    margin: 20px;
}

/* Seção Planos */
.secao-planos {
    padding: 100px 0px;
    background-color: var(--cor2);
}

.secao-planos h2 {
    text-align: center;
    margin-bottom: 70PX;
    font-size: 32px;
}

.secao-planos h2 span {
    color: var(--cor6);
}

table {
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px var(--cor7);
}

teble thead th {
    text-align: center;
    padding: 20px 0px;
    background-color: var(--cor1)
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: auto;
}

table thead th p {
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}

.linha-impar {
    background-color: var(--cor3);
}

.linha-par {
    background-color: var(--cor1);
}

/* Seção Segundo Anúncio */
.secao-segundo-anuncio {
    background-color: var(--cor6);
}

.container-segundo-anuncio {
    position: relative;
    padding: 40px 0;
}

.container-segundo-anuncio h2 {
    color: var(--cor1);
    width: 550px;
}

.container-segundo-anuncio a {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: #233032;
    color: #fff;
    cursor: pointer;
}

.container-segundo-anuncio a img {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 20px;
    margin-left: 20px;
}

.container-segundo-anuncio a span {
    margin-left: 30px;
}

/* Rodapé */
.rodape-logo {
    width: 320px;
    position: relative;
    margin: 70px auto 40px;
}

.rodape-logo img {
    width: 80px;
}

.rodape-logo img {
    width: 80px;
}

.rodape-logo div {
    position: absolute;
    left: 95px;
    top: 0;
}

.rodape-logo p {
    color: var(--cor6);
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.container-copyright {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    background-color: var(--cor2);
}

.container-copyright span {
    color: var(--cor6);
}