* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor1: 
}

.container-topo {
    padding: 15px;
}

.container-topo img {
    width: 80px;
}

.container-topo div, a {
    display: flex;
}

.topo-links {
    display: flex;
}