body {
    margin: 0;
    background-color: #250553;
}

.topo {
    background-color: #02021c;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: #fff;
    font: 18px;
}

.conteudo {
    text-align: center;
    color: #cfcfcf;
    padding: 20px 80px;
    margin: 0 auto;
    width: 600px;
}

img {
    height: 320px;
}

p {
    font-size: 18px;
    line-height: 36px;
}

.texto-destaque {
    background-color: #b535f6;
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
}