* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
}

h1 {
    font-size: 14px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

.logo img{
    width: 10%;
    padding-top: 15px;
}

.localizacao {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    flex-basis: 200px;
    padding: 5px;

}

.endereco, .contato, .horarios {
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.562);
    flex-basis: 210px;
    margin: 0px 10px;
}

.btn-voltar img {
    width: 30px;
}

.redes-sociais img {
    width: 15px;
}

.footer {

}