* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.main {
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    gap: 60px;
}

.logo {
    width: 100px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.localizacao {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.localizacao div {
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 4px;
    flex: 1 1 240px;
    text-align: center;
}

.footer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer a {
    width: 50px;
    height: 50px;
    background-image: url(img/seta-para-cima.png);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    background-color: #d5d5d5;
    border-radius: 4px;
    position: absolute;
    bottom: 60px;
    right: 0px;
}