@charset "UTF-8";

/* Cores */
:root {
    --cor1: #f5f5f5;
    --cor2: #d5d5d5;
    --cor3: green;
    --cor4: #607274;
}

/* Configurações gerais*/
body {
    margin: 0;
    font-family: 'tahoma', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Conteúdo principal */
div {
    text-align: center;
    border-top: 1px solid var(--cor2);
    background-color: var(--cor1);
    padding: 50px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2, h3 {
    text-align: center;
}

p {
    font-weight: 28px;
    margin: 15px auto 30px auto;
    text-align: center;
}

span {
    font-weight: bolder;
}

/* Imagens */
img {
    width: 190px;
}

/* Links*/
a {
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 14px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 25px;
    padding: 10px 30px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1px;
}

footer a {
    background-color: #d5d5d5;
    color: var(--cor4);
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

/* Icones */
ion-icon {
    color: var(--cor4);
    width: 30px;
    height: 30px;
}

ion-icon:hover {
    color: white;
}