@charset "UTF-8";

:root {
    --cor-destaque: #1d6e4d;
    --cor-branco: #fff;

    --fonte: "Verdana", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    width: 100%;
}

.topo {
    background-color: var(--cor-destaque);
    padding: 30px;
    color: var(--cor-branco);
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.banner {
    width: calc(100% - 5%);
    padding: 10px;
    margin: 20px 35px;
}
    
.texto p {
    font-size: 18px;
    padding: 5px;
    margin: 20px 35px;
    font-size: 18px;
    text-align: justify;
    
}

h2 {
    font-size: 18px;
    padding: 5px;
    margin: 20px 35px;
}

.galeria-imagens {
    margin: 20px 35px;
}

.galeria {
    width: 400px;
    margin: 0 2px;
}

footer {
    background-color: var(--cor-destaque);
    padding: 30px;
    text-align: center;
    color: var(--cor-branco);
}

footer a {
    color: bisque;
    font-weight: bolder;

}